* {
    font-size: 1.3em;
    text-decoration: none;
    list-style: none;
}

a {
    background-color: rgb(65, 104, 65);
    color: white;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    /* todo lo anterior se puede resumir o implementar en una sola propiedad*/
    //transition: background-color 1s 1s ease-in-out;

    &:hover {
        color: rgb(21, 21, 24);
        background-color: rgb(209, 80, 29);
    }
}

/* Trabajando con el SVG */
.android {
    margin: 2em;
    width: 500px;
    height: 500px;
}

.icono {
    fill: #AAC148;
    stroke: RoyalBlue;
    stroke-width: 3;
}

.bizquierdo, .bderecho {
    /* se pueden utilizar distintas propiedades separadas por coma*/
    transition: fill 1s ease-in, stroke 2s ease-out, stroke-width 2s ease-in-out;

    &:hover {
        fill: #AA5645;
        stroke: #AAC148;
        stroke-width: 6;
    }
}