$cero: 0;
$auto: auto;
$none: none;
$color1: black;
$cincuenta: 50px;
$borde1: 3px solid black;
$cincuenporcien: 50%;
$verde: green;
$cien: 100px;
$diezpx: 10px;
$seiscien: 600;
$tipografy1: large;
$unem: 1em;
$unocinco: 1.5em;
$cerocinco: 0.5em;
